*,
*::before,
*::after {
  box-sizing: border-box;
}
body {
  margin: 0;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  max-width: 767px;
}
h1 {
  color: #701d01;
  font-weight: bolder;
  padding-left: 10px;
}
.title,
article p {
  color: #701d01;
  font-size: xx-large;
  font-weight: bolder;
  padding-left: 10px;
  margin: 25px;
}
header {
  max-width: 100%;
}
nav {
  background-color: #fef7e2;
  padding: 1.5rem;
  display: flex;
  justify-content: space-between;
  margin-bottom: 2rem;
}
.logo {
  width: 35px;
  height: 40px;
  margin-left: 1rem;
  margin-right: auto;
  align-items: center;
}
.shop {
  padding-right: 25px;
  color: #701d01;
}
.button1 {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 6rem;
  height: 2.5rem;
  background-color: #ffdf7f;
  border-radius: 10rem;
  color: #701d01;
}

.button2 {
  display: flex;
  align-items: center;
  width: 9rem;
  height: 4.5rem;
  background-color: #ffdf7f;
  border-radius: 10rem;
  color: #701d01;
}

main {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  margin: 25px;
}
.sectionH3,
.sectionP,
.sizeP {
  margin: 0;
  font-size: small;
  color: #701d01;
}
section {
  background-color: #fbf7e3;
  border-radius: 20%;
  margin: 0.5rem;
  text-align: center;
}
.prova {
  justify-content: center;
  display: flex;
  gap: 50px;
}
.card {
  display: flex;
  align-items: flex-start;
  gap: 2.5rem;
  width: 18rem;
  height: 4.5rem;
}

main section div img {
  width: 18rem;
  border-top-left-radius: 20%;
  border-top-right-radius: 20%;
}
.pay {
  border: none;
  border-radius: 25px;
  height: 30px;
  width: 200px;
  margin-bottom: 10px;
  background-color: #ffdf7f;
  color: #701d01;
  font-weight: bolder;
  margin-top: 35px;
}
article div {
  padding: 20px;
}
.story {
  background-color: #fbf7e3;
  border-radius: 5%;
  margin: 25px;
}
article h3 {
  font-weight: 450;
  color: #701d01;
}
.finish-logo {
  max-width: 100%;
  padding: 20px;
}
